 /* Declaraciones */

@font-face {
    font-family: "JimNightshade";
    src: url("../fonts/JimNightshade-Regular.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "ArefRuqaa";
    src: url("../fonts/ArefRuqaa-Regular.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "ArefRuqaa";
    src: url("../fonts/ArefRuqaa-Bold.ttf");
    font-weight: 900;
}

 /* marca - globales */

* {
    font-family: "ArefRuqaa", serif;
}

body {
    background: #111;
    color: white;
}
.puerto-hermoso {
    font-family: "JimNightshade", serif;
}

 /* Propietarios por tipo (boton, input, div, etc) */

.div-example {
    background: gray;
    width: max-content;
    padding:10px;
    margin:20px;
}
.div-example-row {
    display: flex;
    gap: 20px;
    align-items: center;
}
.button-default {
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.button-circle {
    border: none;
    color: black;
    display: inline;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    cursor: pointer;
}
.button:hover {
    scale: 1.2;
    transition: 0.3s;
}
.button {
    transition: 0.3s;
}
.input-default {
    width: 100%;
    border: none;
    outline: none;
    font-weight: bold;
    box-sizing: border-box;
    background: #d9d9d9;
}

 /* genericos */

.dropshadow {
    box-shadow: 0 5px 12px rgba(0,0,0,0.8);
}
.circle {
    border-radius: 50%;
}

#form-crear-reserva {
    gap: 20px;
    width: 400px;
    max-width: 90%;
    /*margin: 0 auto;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-items: center; */
    background-color: #835740;
    text-align: center;
    border-radius: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

#form-crear-reserva-title {
    position: relative;
}

#form-crear-reserva-title > h1 {
    margin: 0;
}

#form-crear-reserva-title > button {
    position: absolute;
    left: -50px;
    top: 10px;
}

#body-creacion-reserva {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;                   /* Removes default browser margins */
    min-height: 100vh;            /*Forces body to be at least the full height of the screen */

    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keeps image fixed during scroll */
    background-position: center;
    background-size: cover; /* Scales to cover entire screen */ 
}

#horarios-select{
    height: 40px;
}

.select-form {
    width: 100%;
    padding-left: 18px;
    border: none;
    border-radius: 12px;
}