{% extends "base_usuario.html" %}
{% block title %}Mis Reservas - Puerto Hermoso{% endblock %}
{% block content %}
    {% from "componentes/button1_comp.html" import button1_comp %}
    {% from "componentes/button3_comp.html" import button3_comp %}
    {% from "componentes/circle_comp.html" import circle_comp %}
    {% from "componentes/reserva_comp.html" import reserva_comp %}
    <div id="my-popup-overlay" class='modal-overlay' hidden>
    <article class="reseña-tarjeta">
        
        <header class="reseña-header">
            <span class="reseña-estrellas">
                <strong></strong> 
                
                <span class="estrellas-caja">
                    <span class="estrellas-fondo">⭐⭐⭐⭐⭐</span>
                    <span class="estrellas-progreso">
                        ⭐⭐⭐⭐⭐
                    </span>
                </span>
                
            </span>
            
            <span class="reseña-fecha">
            </span>
        </header>
        
        <p class="reseña-comentario">
        </p>
        <button class="button-action button-view-review" onclick="togglePopup()">
            Volver
        </button>
    </article>
    </div>

    <div class="contenedor">
        <div class="header">
            <div class="header-left">
                {{ circle_comp(
                    text="<",
                    size=40,
                    type=3,
                    func="window.location.href='/'"
                ) }}
                <h1>Puerto Hermoso</h1>
            </div>
            <div class="header-right">
                <button class="button-default button-mi-perfil button-generic"
                    onclick="window.location.href='{{ url_for('usuarios.cliente.mi_perfil') }}'">
                    Mi perfil
                </button>
                <button class="button-default button-nueva-reserva button-generic"
                    onclick="window.location.href='{{ url_for('reservas.nueva_reserva') }}'">
                    Nueva reserva
                </button>
            </div>
        </div>        
        <div class="seccion-mis-reservas">
            <h2>Mis Reservas</h2>
            <div class="contenedor-reservas">
                {% for reserva in reservas %}
                    {% if reserva.id_reserva in reseñas %}
                    <div id="hidden-reseña-{{reserva.id_reserva}}">
                        <p class="calificacion" hidden>{{reseñas[reserva.id_reserva].calificacion}}</p>
                        <p class="comentario" hidden>{{reseñas[reserva.id_reserva].comentario}}</p>
                        <p class="fecha" hidden>{{reseñas[reserva.id_reserva].fecha}}</p>
                    </div>
                    {% endif %}
                    {{ reserva_comp(reserva,reseñas) }}
                {% endfor %}

                {% if not reservas %}
                    <div
                        class="sin-datos"
                    >
                        SIN DATOS
                    </div>                    
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}