{% macro mesas_comp(
    mesas=[],
    id="mesas-select",
    name="mesa",
    width="300px",
    height="60px"
) %}

<div
    style="
        width: {{ width }};
        display: flex;
        flex-direction: column;
        gap: 10px;
    "
>

    <label
        style="
            color: white;
            font-weight: bold;
            font-size: calc({{ height }} * 0.4);
        "
    >
        MESA
    </label>

    <select
        id="{{ id }}"
        name="{{ name }}"

        class="dropshadow input-default"

        style="
            width: 100%;
            height: {{ height }};

            padding-left: calc({{ height }} * 0.3);

            border: none;

            border-radius: calc({{ height }} * 0.2);

            font-size: calc({{ height }} * 0.4);
        "
    >
        {% for mesa in mesas %}
        <option value="{{mesa}}">
            {{ mesa }}
        </option>
        {% endfor %}
    </select>

</div>

{% endmacro %}