MYSQL_DATABASE=restaurante
MYSQL_ROOT_PASSWORD=1234
DB_HOST=localhost
DB_EXTERNAL_URI=mysql+pymysql://avnadmin:
FRONTEND_PORT=5001
CUENTA_MAIL_LOGIN=tpintrodesasoftware@gmail.com
CUENTA_MAIL_FROM=tpintrodesasoftware@gmail.com
CONTRASENA_MAIL=
PUERTO_MAIL=465
SERVIDOR_MAIL=smtp.gmail.com
SERVICIO_MAIL=gmail_app_pass
SUPABASE_URL=https://bxsiebhagayfpbldmsud.supabase.co
SUPABASE_API_KEY=
BUCKET_NAME=menu-imagenes