MYSQL_DATABASE=restaurante
MYSQL_ROOT_PASSWORD=1234
DB_HOST=localhost
DB_URI=mysql+pymysql://<pass>@<host>:<port>/<default db>?ssl_ca=/<path_for_docker>/ca.pem
FRONTEND_PORT=5001
URL_FRONT=https://tp-final-introdesasoft-1.onrender.com/
CUENTA_MAIL_LOGIN=tpintrodesasoftware@gmail.com
CUENTA_MAIL_FROM=tpintrodesasoftware@gmail.com
CONTRASENA_MAIL=
PUERTO_MAIL=465
SERVIDOR_MAIL=smtp.gmail.com
SERVICIO_MAIL=gmail_app_pass
SUPABASE_URL=https://bxsiebhagayfpbldmsud.supabase.co
SUPABASE_API_KEY=
BUCKET_NAME=menu-imagenes