CUENTA_MAIL_LOGIN=
CUENTA_MAIL_FROM=
CONTRASEÑA_MAIL=
PUERTO_MAIL= 
SERVIDOR_MAIL=
SERVICIO_MAIL= 
URL_PAGINA_WEB=
SUPABASE_URL=https://bxsiebhagayfpbldmsud.supabase.co
SUPABASE_API_KEY=
BUCKET_NAME=menu-imagenes