<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear reserva</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body id="body-creacion-reserva">
    <!-- Flask flash sintaxis-->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-container">
            {% for category, message in messages %}
            <div class="flash flash--{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
    {% from "componentes/input_comp.html" import input_comp %}
    {% from "componentes/circle_comp.html" import circle_comp %}
    {% from "componentes/button1_comp.html" import button1_comp %}
    {% from "componentes/button3_comp.html" import button3_comp %}
    {% from "componentes/mesas_comp.html" import mesas_comp %}
    <div id="form-crear-reserva">
    <form action="{{ url_for('reservas.crear_reserva_form')}}" method="get">
        <div id="form-crear-reserva-title"> 
            {{ circle_comp(
                text="<",
                size=40,
                type=3,
                func=""
            ) }}
            <h1>Puerto Hermoso</h1>
        </div>
        {{ input_comp(
            name="hora",
            type="time",
            label="Horario",
            placeholder="",
            height="40px",
            width="250px"
        ) }}
        {{ input_comp(
            name="fecha",
            type="date",
            label="Fecha de reserva",
            placeholder="",
            height="40px",
            width="250px"
        ) }}
        {{ input_comp(
            name="comensales",
            type="number",
            label="Cantidad de comensales",
            placeholder="1",
            height="40px",
            width="250px"
        ) }}
        <div>
            <input type="radio" name="ubicacion" id="interior" value="interior" checked>
            <label for="interior">Interior</label>
            <input type="radio" name="ubicacion" id="exterior" value="exterior">
            <label for="exterior">Exterior</label>
        </div>
        <div>
            {{ button1_comp(
                text="VALIDAR DISPONIBILIDAD",
                height=55,
                func="mostrarMesasDisponibles",
                type="button"
            ) }}
        </div>
    </form>
    {% if mesas %}
    <form action="{{url_for('reservas.crear_reserva_form')}}" method="post">
            <input type="hidden" name="fecha" value="{{ request.args.get('fecha') }}">
            <input type="hidden" name="hora" value="{{ request.args.get('hora') }}">
            <input type="hidden" name="ubicacion" value="{{ request.args.get('ubicacion') }}">
            <input type="hidden" name="comensales" value="{{ request.args.get('comensales') }}">
            {{ mesas_comp(
            mesas=mesas,
            id="mesas-principal",
            width="250px"
            ) }}
            {{ input_comp(
                name="Confirmar",
                type="submit",
                label="",
                value="Confirmar",
                width="250px"
            ) }}

    </form>
    {% endif %}
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>