<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear reserva</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body id="body-creacion-reserva">
    <!-- Flask flash sintaxis-->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-container">
            {% for category, message in messages %}
            <div class="flash flash--{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
    {% from "componentes/input_comp.html" import input_comp %}
    {% from "componentes/button1_comp.html" import button1_comp %}
    {% from "componentes/button3_comp.html" import button3_comp %}
    {% from "componentes/mesas_comp.html" import mesas_comp %}
    <form id="form-crear-reserva" action="{{ url_for('reservas.crear_reserva_form')}}" method="post">
        <div> 
            <h1>Puerto Hermoso</h1>
            {{ input_comp(
                name="hora",
                type="time",
                label="Horario",
                placeholder="",
                height="40px",
                width="250px"
            ) }}
            {{ input_comp(
                name="fecha",
                type="date",
                label="Fecha de reserva",
                placeholder="",
                height="40px",
                width="250px"
            ) }}
            {{ input_comp(
                name="comensales",
                type="number",
                label="Cantidad de comensales",
                placeholder="1",
                height="40px",
                width="250px"
            ) }}
        </div>
        <div>
            {{ button3_comp(
                text="Interior",
                height=50,
                acceptordeny="accept",
                func=""
            ) }}

            {{ button3_comp(
                text="Exterior",
                height=50,
                acceptordeny="accept",
                func=""
            ) }}
        </div>
        <div>
            {{ button1_comp(
                text="VALIDAR DISPONIBILIDAD",
                height=55,
                func=""
            ) }}
        </div>
        {{ mesas_comp(
        endpoint="mesas/",
        id="mesas-principal",
        width="250px"
        ) }}
        {{ input_comp(
            name="Confirmar",
            type="submit",
            label="",
            value="Confirmar",
            width="250px"
        ) }}
    </form>
    
</body>
</html>