{% extends "base_usuario.html" %}

{% block content %}
    {% from "componentes/input_comp.html" import input_comp %}
    {% from "componentes/circle_comp.html" import circle_comp %}
    {% from "componentes/button1_comp.html" import button1_comp %}
    {% from "componentes/button3_comp.html" import button3_comp %}
    {% from "componentes/select_comp.html" import select_comp %}
    <div id="form-crear-reseña">
        <form action="{{url_for('reservas.crear_reserva_form')}}" method="post">
            <div id="form-crear-reserva-title"> 
                {{ circle_comp(
                    text="<",
                    size=40,
                    type=3,
                    func="window.location.href= '/reservas/mis_reservas'"
                ) }}
                <h1>Puerto Hermoso</h1>
                <h2>Contanos como te fue:</h2>
            </div>
            {{
                select_comp(
                    opciones=valores_clasificacion,
                    id="clasificacion-select",
                    name="valoracion",
                    label="Valoración general",
                    width="250px",
                    height="40px",
                    default_option="Elija una valoracion",
                    classes="dropshadow input-default select-form"
                )
            }}
            <div class="radio-select">
                <p>Volverias a visitarnos?</p>
                <input type="radio" name="ubicacion" id="interior" value="interior" {% if request.args.get('ubicacion', 'interior') == 'interior' %} checked {% endif %}>
                <label for="interior">Sí</label>
                <input type="radio" name="ubicacion" id="exterior" value="exterior" {% if request.args.get('ubicacion', 'interior') == 'exterior' %} checked {% endif %}>
                <label for="exterior">No</label>
            </div>
            {{ input_comp(
                name="comensales",
                type="text",
                label="Comentarios: ",
                placeholder="Comentarios...",
                height="40px",
                width="250px",
                value=request.args.get('comensales', ''),
                required=True
            ) }}
            <div>
                {{ button1_comp(
                    text="Dejar reseña",
                    height=55,
                    type="submit"
                ) }}
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
{% endblock %}