{% extends "reseñas/base.html" %}
{% block content %}

<section style="width: 100%; display: flex; flex-direction: column; gap: 15px;">

    <article style="background-color: rgba(255, 255, 255, 0.699); border-radius: 12px; padding: 15px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
        
        <header style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
            <span style="font-size: 1.1em; color: #444;">
                <strong>4.5/5</strong> ⭐⭐⭐⭐<span style="opacity:0.3">⭐</span>
            </span>
            <span style="color: #2d3947; font-size: 0.9em; font-style: italic;">
                Fecha: {fecha de la reseña}
            </span>
        </header>

        <p style="background-color: #2d3947; color: white; margin: 0; padding: 10px 15px; border-radius: 8px; font-size: 1.05em;">
            Rica la comida, mas rico el chef
        </p>

    </article>

    <article style="background-color: rgba(255, 255, 255, 0.699); border-radius: 12px; padding: 15px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
        <header style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
            <span style="font-size: 1.1em; color: #444;">
                <strong>4.5/5</strong> ⭐⭐⭐⭐<span style="opacity:0.3">⭐</span>
            </span>
            <span style="color: #2d3947; font-size: 0.9em; font-style: italic;">
                Fecha: {fecha de la reseña}
            </span>
        </header>
        <p style="background-color: #2d3947; color: white; margin: 0; padding: 10px 15px; border-radius: 8px; font-size: 1.05em;">
            Rica la comida, mas rico el chef
        </p>
    </article>

    <article style="background-color: rgba(255, 255, 255, 0.699); border-radius: 12px; padding: 15px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
        <header style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
            <span style="font-size: 1.1em; color: #444;">
                <strong>4.5/5</strong> ⭐⭐⭐⭐<span style="opacity:0.3">⭐</span>
            </span>
            <span style="color: #2d3947; font-size: 0.9em; font-style: italic;">
                Fecha: {fecha de la reseña}
            </span>
        </header>
        <p style="background-color: #2d3947; color: white; margin: 0; padding: 10px 15px; border-radius: 8px; font-size: 1.05em;">
            Rica la comida, mas rico el chef
        </p>
    </article>

</section>

{% endblock %}